#home {
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("./images/cleanup.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  position: relative;
}

#home span {
  color: #138817;
  text-shadow: 1px 1px#141010;
}
.home-display-footer {
  height: 80px;
  width: 100%;
  background-color: #736d6d;
}

#home-main h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 3.5rem;
  padding: 34px 20px;
  line-height: 6rem;
  color: #141010;
  text-shadow: 1px 2px 2px #138817;
}

.bg-btn {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 27px;
  top: 260px;
  font-size: 2rem;
  color: #736d6d;
}

#chatBtn {
  position: fixed;
  height: 70px;
  width: 70px;
  right: 10px;
  bottom: 30px;
  border-radius: 50%;
  border: 1px solid #138817;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #138817;
  z-index: 101;
  box-shadow: 1px 2px 2px black;
  z-index: 111;
  cursor: pointer;
}
.bigger {
  font-size: 3rem;
}

i:hover {
  cursor: pointer;
  color: #138817;
}

#message {
  height: 390px;
  width: 450px;
  position: absolute;
  border-radius: 15px;
  background-color: #138817;
  box-shadow: 1px 2px 7px;
  right: 10px;
  bottom: 90px;
  z-index: 110;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.message-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #736d6d;
  color: whitesmoke;
  border-radius: 15px;
  padding: 10px;
  margin-top: 1px;
}

#message-body {
  background-color: whitesmoke;
  width: 98%;
  height: 63%;
  margin: 5px auto;
  overflow-y: scroll;
  border-radius: 10px;
}

.message-footer {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  padding: 10px;
  align-items: center;
  padding: 10px;
}

.message-footer input {
  width: 80%;
  padding: 15px;
  border-radius: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
}

.card {
  border: 1px solid;
  width: 70%;
  height: auto;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
  color: #736d6d;
  padding: 10px;
  box-shadow: 1px 2px 7px #138817;
}
