aside {
  width: 250px;
  height: auto;
  background-color: #aa9f9f;
  color: #f2f2f2;
  box-shadow: 2px -1px 3px #736d6d;
  position: relative;
}

.aside-toggle {
  position: absolute;
  height: 70px;
  width: 40px;
  background-color: #c8c7c7;
  right: -40px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: black;
  box-shadow: 1px 2px 2px #444;
  border-radius: 4px;
  cursor: pointer;
}
.disableSelection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
}

.dash-links {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
.dash-links a {
  text-decoration: none;
  color: whitesmoke;
}

.dash-links button {
  padding: 10px;
  font-size: larger;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: none;
  border-radius: 2px;
}
.dash-links button:focus {
  background-color: #99ffbc;
  color: royalblue;
}

.dash-links button:hover {
  color: black;
  background-color: #99ffbc;
  box-shadow: 1px 2px 2px #444;
  cursor: pointer;
}

#ui-layout {
  display: flex;
  gap: 50px;
  background-color: whitesmoke;
}

#display {
  height: auto;
  width: 80%;
  background-color: #d9d9d9;
}

.dash-title {
  width: 100%;
  height: 90px;
  background-color: whitesmoke;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #444;
}

.dash-body {
  height: 450px;
  overflow-y: scroll;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.32);
}
.job-container {
  border: 1px solid #444;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.87);
  padding: 8px;
  background-color: whitesmoke;
  margin: 3px auto;
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.jobList {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding-right: 10px;
}
.job-container:hover {
  cursor: pointer;
  background-color: azure;
  color: #444;
}
.job-container button:hover {
  color: whitesmoke;
  cursor: pointer;
  background-color: green;
  border: 1px solid royalblue;
}

.dash-body h1 {
  text-align: center;
  font-weight: 400;
  color: #444;
  margin-top: 10px;
}

.btnStyle {
  background-color: #99ffbc;
  color: #444;
}

#prof-pic {
  height: 150px;
  width: 150px;
  margin: auto;
  border-radius: 50%;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.91);
  font-size: larger;
}

#notification-table {
  width: 80%;
  height: auto;
  border: 1px solid #736d6d;
  margin: auto;
  border-collapse: collapse;
  margin-top: 10px;
}

td,
th {
  border: 1px solid #736d6d;
  padding: 10px;
}

#support-form {
  width: 50%;
  height: auto;
  border: 1px solid #736d6d;
  border-radius: 5px;
  padding: 10px;
  background-color: lightblue;
  box-shadow: 1px 2px 6px rgba(0, 0, 5);
}

#support-form label {
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
  margin-top: 10px;
  margin-bottom: 10px;
}

#support-form input {
  width: 400px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  display: block;
}

#support-form textarea {
  width: 500px;
  height: 200px;
  display: block;
  margin-bottom: 10px;
  border-radius: 5px;
}

.left {
  width: 30%;
  height: 420px;
  background-image: url("https://images.unsplash.com/photo-1562388364-cfca9bff0b41?q=80&w=1454&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 2px 6px rgba(0, 0, 5);
}
.form-body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin: 20px auto;
}
.acc-details {
  padding: 20px;
  margin: auto;
}
.acc-details label,
input {
  display: inline-block;
  width: 200px;
  padding: 10px;
  margin-top: 10px;
}

.welcome {
  height: 51vh;
  width: 70%;
  margin: 20px auto;
  color: #444;
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
